<div id="<%= dom_id activity_table %>">
  <p>
    <strong>Activity:</strong>
    <%= activity_table.activity %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= activity_table.active %>
  </p>

  <p>
    <strong>Study:</strong>
    <%= activity_table.study_id %>
  </p>

</div>
