<h1>Editing activity table</h1>

<%= render "form", activity_table: @activity_table %>

<br>

<div>
  <%= link_to "Show this activity table", @activity_table %> |
  <%= link_to "Back to activity tables", activity_tables_path %>
</div>
