<p style="color: green"><%= notice %></p>

<h1>Activity tables</h1>

<div id="activity_tables">
  <% @activity_tables.each do |activity_table| %>
    <%= render activity_table %>
    <p>
      <%= link_to "Show this activity table", activity_table %>
    </p>
  <% end %>
</div>

<%= link_to "New activity table", new_activity_table_path %>
