<div class="containerr">
    <%= image_tag('Group 32.svg', class: 'logo', id: "logo") %>
  <div id="text" class="text" >
    <%= link_to "افحص منشأتك", new_inspection_path %>
  </div>
</div>

  <%= image_tag('Union 170.svg', class: 'deco', id: "deco") %>
<div></div>