<div class="flex justify-center items-center h-screen">
    <div class="w-72 h-72 bg-gray-200 mt-20">gff</div>
    <div>
        <%= link_to "inspections", inspections_path %>    
    </div>
</div>

<div></div>