<h1>Editing company size</h1>

<%= render "form", company_size: @company_size %>

<br>

<div>
  <%= link_to "Show this company size", @company_size %> |
  <%= link_to "Back to company sizes", company_sizes_path %>
</div>
