<p style="color: green"><%= notice %></p>

<h1>Company sizes</h1>

<div id="company_sizes">
  <% @company_sizes.each do |company_size| %>
    <%= render company_size %>
    <p>
      <%= link_to "Show this company size", company_size %>
    </p>
  <% end %>
</div>

<%= link_to "New company size", new_company_size_path %>
