<h1>Editing company status</h1>

<%= render "form", company_status: @company_status %>

<br>

<div>
  <%= link_to "Show this company status", @company_status %> |
  <%= link_to "Back to company statuses", company_statuses_path %>
</div>
