<p style="color: green"><%= notice %></p>

<h1>Color tables</h1>

<div id="color_tables">
  <% @color_tables.each do |color_table| %>
    <%= render color_table %>
    <p>
      <%= link_to "Show this color table", color_table %>
    </p>
  <% end %>
</div>

<%= link_to "New color table", new_color_table_path %>
