<h1>Editing inspection</h1>

<%= render "form", inspection: @inspection %>

<br>

<div>
  <%= link_to "Show this inspection", @inspection %> |
  <%= link_to "Back to inspections", inspections_path %>
</div>
