<p style="color: green"><%= notice %></p>


<div id="inspections" class="columns mt-6 is-centered is-multiline">
  <% @inspections.each do |inspection| %>
    <div class="column is-one-third">
      <%= render inspection %>
    </div>
  <% end %>
</div>

