
  <div class="containerr-2">
    <%= image_tag("Group 32.svg", id: "logo", class: "logo-3") %>
    <%= image_tag("WhatsApp_Image_2023-05-05_at_18.45.56-removebg-preview.svg", class: "logo-4") %>
  </div>

  <div class="bg-1">

    <%= render "form", inspection: @inspection %>
  </div>
