
  <div class="containerr-2">
    <%= image_tag("Group 32.svg", id: "logo", class: "logo-3") %>
    <%= image_tag("WhatsApp_Image_2023-05-05_at_18.45.56-removebg-preview.svg", class: "logo-4") %>
  </div>

  <section class="container">
    
  <header class="c-n">ماهي خدمة دراسة حالة المنشأة ( فحص المنشأة ) ؟</header>
  <div class="form-step">
<div class="input-group">
    <p class="inp-p" id="c-n">هي خدمة ضمن الخدمات المقدمة من شركة
         إتمام العربية تهدف لدراسة الوضع 
        القائم للمنشأة لدى الجهات الحكومية واكتشاف الأخطاء 
        الكامنة والتي قد تتسبب في الهدر المالي الخفي او
         تعطل الخدمات، ثم تقديمها بتقرير مفصل للعميل مع 
        المقترحات والتوصيات اللازمة لحل تلك الأخطاء وتصحيحها.</p>
</div>
<a class="n-p-p" target="_blank" download="دراسة حالة منشأة ( فحص المنشأة ) (1).pdf" href="https://gray-ilise-88.tiiny.site/">حمل دليل دراسة حالة المنشأة</a>
</div>

    <%= render "form", inspection: @inspection %>
  </section>
